html {
  scroll-behavior: smooth;
  
}
/* body */
body {
    background-color: #0e0e0e;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
/* Header */
  header {
    width: 100%;
    background-color: rgb(58, 58, 58);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    z-index: 999;
    border-bottom: 1px solid rgb(255, 217, 0);
  }

.navbar {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    

    
}

.navbar-list {
  width: 78%;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.menu-label {
  display: none;

}


.navbar ul li a{
  color:  #FFD900 ;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar ul li a:hover {
  text-decoration: overline;
  border-bottom: solid #FFD900 1px;
  font-weight: 500;
}

  .cart-icon {
    border: 2.5px solid #FFD900;
    padding: 3px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
  }

  .cart-icon:hover {
    opacity: 0.8;
  }

  /*carrito*/
.cart {
  position: absolute;
  top: 65px;
  right: 20%;
  left: 20%;
  padding: 50px 30px;
  background-color: rgb(58, 58, 58);
  border: #FFD900 solid 2px;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color:#FFD900;
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  
  
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item-title {
  color:#FFD900;
  font-weight: 500;
  font-size: 20px;
}

.item-price {
  color:#FFD900;
  font-weight: 400;
  font-size: 16px;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  color:#FFD900;
  font-weight: 700;
  font-size: large;
  
}

.item-quantity {
  color:#FFD900;
}

.up {
  border: 1px solid #FFD900;
  border-radius: 50%;
}

.down {
  border: 1px solid #FFD900;
  border-radius: 50%;
}


.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: #FFD900;
  font-weight: 700;
}

.cart-total span {
  color: #FFD900;
  font-weight: 400;
  font-size: 18px;
}


/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  

  background: rgb(58, 58, 58) ;
  color: rgb(255, 217, 0);
  border: rgb(255, 217, 0) 2px solid;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.btn-add,
.btn-buy,
.btn-delete {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 35px;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  background-color:rgb(255, 217, 0);
  border: #a18c12 2px solid;
  border-radius: 10px;
  transition: 0.3s all ease-out;
}

.btn-add:hover,
.btn-buy:hover,
.btn-delete:hover {
  background: rgb(58, 58, 58) ;
  color: rgb(255, 217, 0);
  border: rgb(255, 217, 0) 2px solid;
 }

 .divider {
  margin-top: 20px;
  border: 1px solid rgb(255, 217, 0);;
  width: 100%;
}

/* cierro carrito */

  .home-icon {
    display: none;
  }


  .overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
  }
  .show-overlay {
    display: block;
  }
/* animacion promo */

  .promoContainer {
    margin-top: 30px;
    min-height: 20px;
    width: 100%;
   
  }  

  .promoContainer p {
    color: #FFFFFF;
    font-size: smaller;
    letter-spacing: 1px;
    font-weight: 600;
    animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: 3s linear;
  /* animation-direction: alternate; */
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  main {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
  }

  #fanApp{
    margin-top: 10px;
    min-height: 460px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .fanApp-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .fanApp-info h1 {

    text-shadow: -3px 3px black, -3px -3px black, 3px -3px black, 3px 3px black, 6px 6px rgb(255, 217, 0);
    font-size: 80px;
    width: 80%;
    min-width: 500px; 
    font-weight: 800;
    margin-bottom: -20px;
    letter-spacing: 2.5px;
    
  }

  .fanApp-info h3 {
    font-size: 38px;
    width: 80%;
    min-width: 500px; 
    font-weight: 800;
    letter-spacing: 2.5px;
  }

  
  .fanApp-info p {
    font-size: 18px;
    width: 100%;
    font-weight: 400;
    letter-spacing: 1.6px;
    
  }
  
  .fanApp-info p > span {
    font-weight: 800;
  }

 .coleccion-img img {
    
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 350px;
 }
  
  .fanApp-info a {
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-stroke: 0.1px black;
    background: rgb(255, 217, 0);
    width: 250px;
    padding: 12px 0px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
   
    
  }
  .fanApp-info a:hover {
    opacity: 0.9;
  }
  #products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0;
    width: 100%;
  }
  
  #products h2 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-decoration:overline #FFD900 2px;
    border-bottom: solid #FFD900 2px;
    padding-bottom: 1px;
  }

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

  
  .category {
    background: rgb(58, 58, 58);
    height: 150px;
    width: 120px;
    border: none;
    padding: 0px 15px 0px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  .category:hover{
    border: 0.5px rgb(255, 217, 0) solid;
    letter-spacing: .6px;
  }

  .category img {
    height: 50%;
  }
  
  
  
  .active {
    background: rgb(119, 119, 119);
    transition: 0.2s ease-in-out;
    border: 0.5px rgb(255, 217, 0) solid;
  }
  
  /* products */
  .products-container {
    
    margin-top: 10px;
    width: 75%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    padding-top: 30px;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .product {
    background: rgb(58, 58, 58);
    width: 220px;
    height: 310px;
    padding: 15px 30px 10px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
  }

  .product:hover {
    background: #2c2c2c;
    border: 1px rgb(58, 58, 58) solid;
    padding: 14px 29px 9px 29px;
  }

  .product img {
   height: 170px;
   width: 160px;
   border-radius: 10px;
   margin-bottom: 0px;
  }



  .product h3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: solid #FFFFFF 1px;
    padding-bottom: 4px;
   }

   .product-discount{
    width: 100%;
    display: flex;
    align-items:center;  
    justify-content: space-evenly;
    margin-top: 0px; 
    margin-bottom: 0px; 
    

   }

   .promotionPrice {
    color: red;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 300;
    

   }

   .discount {
    color: white;
    font-weight: 300;
    font-size: 11px;
    
   }

   .product-offer{
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    margin-top: 0px; 
    
   }


   .product-offer p {

    color: #FFFFFF;
    font-weight: 900;
    font-size: 17px;
    text-align: left;
    letter-spacing: 1.2px;
    
   }



   .product-offer button {
    background: rgb(255, 217, 0) ;
    color: rgb(58, 58, 58);
    font-weight: 600;
    width: 80px;
    padding: 5px 0px;
    border-radius: 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    cursor: pointer;
    border: #a18c12 1.5px solid;
    margin: 0px;
   }
   .product-offer button:hover {
    background: rgb(58, 58, 58) ;
    color: rgb(255, 217, 0);
    border: rgb(255, 217, 0) 1.5px solid;
    font-size: 12px;
    padding: 4px 0px;
    font-weight: 700;
   }

  /* footer */

  footer {
    background: rgb(58, 58, 58);
    margin: 0 auto;
    height: 110px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-top: #FFD900 solid 1px;
  }
  
  footer p {
    color: rgb(255, 217, 0);
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .socialMedia {
    width: 22%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

.icono {
    width: 50px;
    height: 50px;
    color:  rgb(255, 217, 0); 
    border-radius: 50%;
    border: solid  rgb(255, 217, 0) 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
}

.icono:hover {
    filter: opacity(.8);
}
  
  .hidden {
    display: none;
  }


  .disabled {
    background-color: rgb(58, 58, 58);
    color: #0e0e0e;
    cursor: not-allowed;
    border: none;
    font-size: medium;
  }
  .disabled:hover {
    background-color: rgb(58, 58, 58);
    color: #0e0e0e;
    cursor: not-allowed;
    border: none;
  }
  
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-modal {
    
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: green;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: fixed;
    bottom: 0;
    width: 60%;
    transition: all 0.5s ease-out;
    text-align: center;
    transform: translateY(200%);
  }
  
  .active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }

  @media (max-width: 1200px) and (min-width: 200px){
    
    header {
      width: 100vw;
    }
    .navbar {
      justify-content:start;
      flex-direction: row-reverse;
     
  }

  .cart-icon {
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: none;
    cursor: none;
  }

  .navbar-list {
      position: absolute;
      top: 65px;
      left: 5%;
      right: 5%;
      width: 90%;
      flex-direction: column;
      background-color: rgb(58, 58, 58);
      border-top: 0px;
      border-radius: 15px 15px 15px 15px;
      align-items: flex-start;
      padding: 30px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
      border: #FFD900 solid 2px;
  
    }
    .navbar ul li a{
      font-size: x-large;
    }
    .navbar ul li a:hover {
      text-decoration: none;
      border-bottom: none;
      font-weight: 600;
    }

    .open-menu {
      display: flex;
    }  

    
  .cart {
    min-width: 100vw;
    right: 0;
 left: 0;
 
  }

    main {
        margin-top: 50px;
        width: 100%;
        margin-bottom: 30px;
      }

    
    .promoContainer p {
      
      font-size:xx-small;
      margin-top: -20px;
      width: 100%;
      letter-spacing: 0.5px;
      font-weight: 400;
      text-align: center;
      animation-name: none;
      animation-iteration-count: none;
      
      }
    

    .menu-label {
      display: flex;
      order: 2;
      cursor: pointer;
    }
    
    .menu-label img {
      height: 20px;
      width: 25px;
    }
    
  

    
      #fanApp{
        min-height: 300px;
      }
    
      .fanApp-info{
        align-items: center;
        width: 100vw;
      }
    
      .fanApp-info h1 {
        font-size: 60px;
        width: 80%;
        text-align: center;
        
      }
    
      .fanApp-info h3 {
        font-size: 30px;
        width: 95%;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
      }
    
      
      .fanApp-info p {
        font-size: 22px;
        width: 100%;
        letter-spacing: 1px;
        text-align: center;
      }
      
    
     .coleccion-img img {
        display: none;
       
     }
    
     footer {
       
      width: 100vw;
      height: auto;
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
      justify-content: space-around;
  }
  .socialMedia {
      width: 100%;
      height: 60px;
      flex-direction: row;
      align-content: center;
      justify-content: space-evenly;
  }
  .icono {
      width: 45px;
      height: 45px;
      font-size: 25px;
  }

  .add-modal {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }

  }